.page-heading {
  padding: 120px 0px;
  margin-top: 110px;
  position: relative;
}
.align-self-center {
  align-self: center !important;
}
.page-heading h6 {
  font-size: 20px;
  color: #5b03e4;
  text-transform: uppercase;
  font-weight: 700;
}
.page-heading .line-dec {
  margin: 30px 0px 20px 0px;
  width: 210px;
  height: 2px;
  background-color: #decdfa;
}
.page-heading h4 {
  font-size: 52px;
  color: #2a2a2a;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 20px;
}
.page-heading p {
  padding-right: 25%;
  margin-bottom: 30px;
}
p {
  font-size: 15px;
  line-height: 30px;
  color: #afafaf;
}
.page-heading .main-button {
  display: inline-block;
}
.main-button a {
  font-size: 14px;
  color: #fff;
  background-color: #5b03e4;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}
.page-heading span {
  display: inline-block;
  margin: 0px 10px 0px 10px;
  color: #7a7a7a;
}
.page-heading .second-button {
  display: inline-block;
}
.about-image {
  width: 100%;
  overflow: hidden;
  padding-left: 8%;
}
.page-heading h4 em {
  font-style: normal;
  color: #5b03e4;
}
.about-banner {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: auto;
}
.second-button a {
  font-size: 14px;
  color: #fff;
  background-color: #c03afe;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}
.small {
  width: 10%;
  position: absolute;
  top: 0%;
}
@media (max-width: 850px) {
  .about-banner {
    display: block;
  }
  .align-self-center {
    margin-top: 50px;
  }
}
@media (max-width: 570px) {
  .page-heading p {
    padding-right: 17%;
  }
}
@media (max-width: 400px) {
  .page-heading p {
    padding-right: 0%;
  }
  .main-button {
    width: 100%;
  }
  .main-button a {
    width: 100%;
    text-align: center;
  }
  .second-button {
    width: 100%;
    margin-bottom: 50px;
  }
  .second-button a {
    width: 100%;
    text-align: center;
  }
}
