.banner-right {
  /* background-image: url("../images/banner-right.png"); */
  height: 550px;
  width: 65%;
  background-repeat: no-repeat;
  position: absolute;
  right: 0px;
}
.banner-left {
  /* background-image: url("../images/banner-left.png"); */
  height: 550px;
  width: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
}
.banner-content {
  height: 666px;
  position: relative;
  width: 100%;
  /* height: 200px; */
}
.banner2 {
  height: 100%;
  width: 100%;
}
.banner1 {
  height: 100%;
  width: 15%;
}
.heading {
  display: flex;
  align-items: center;
  height: 50px;
  color: #5b03e4;
  padding: 50px 0;
  border-bottom: 2px solid #decdfa;
  font-weight: 1000;
  margin-bottom: 40px;
  width: 45%;
}
.banner-details {
  text-align: start;
}
.banner-details-content {
  background-color: #f2edf9;
  width: 52%;
  min-height: 350px;
  border-radius: 30px;
  text-align: start;
  padding-left: 4%;
  position: absolute;
  opacity: 0.9;
  top: 35%;
  z-index: 5;
  left: 8%;
  padding-right: 4%;
}
.span1 {
  color: #5b03e4;
}
.span2 {
  color: #c03afe;
}
.title h1 {
  font-size: 55px;
  font-weight: 1000;
}
.title {
  margin-bottom: 30px;
}
.details-cont {
  width: 60%;
  margin-bottom: 40px;
  line-height: 2rem;
  color: #afafaf;
}
.button1 {
  width: 30%;
  background-color: #5b03e4;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 0px;
  border-radius: 50px;
  font-weight: 500;
  margin: 0 20;
  border: 1px solid #5b03e4;
  margin-right: 20px;
}
.button2 {
  width: 30%;
  background-color: #c03afe;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 0px;
  border-radius: 50px;
  font-weight: 500;
  /* margin-right:  20px; */
  border: 1px solid #c03afe;
}
.button-cont {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  height: 110px;
  padding-bottom: 85px;
}
@media (max-width: 900px) {
  .banner-details-content {
    width: 85%;
    padding-left: 6%;
  }
  .details-cont {
    width: 78%;
  }
}
@media (max-width: 550px) {
  .button-cont {
    display: block;
    padding-bottom: 170px;
  }
  .details-cont {
    width: 100%;
  }
  .button1 {
    margin-bottom: 20px;
    width: 100%;
  }
  .button2 {
    width: 100%;
  }
}
